@page
@model ElevatorAdministrationApplication.Pages.Elevator.ElevatorDetailsPageModel
@{
}

<div class="d-flex justify-content-around">
    <div class="flex-row w-auto">
        <h1>@Model.elevator.Name</h1>

        <h2>Commands</h2>
        <div style="width: 350px">
            <div class="d-flex justify-content-between">
                <p class="m-2">Reboot</p>
                <label class="switch">
                    <input type="checkbox" >
                    <span class="slider round"></span>
                </label>
            </div>
            <form method="post" asp-page-handler="InvokeMethodShutDown" asp-route-id="@Model.elevator.Id">
            <div class="d-flex justify-content-between">
                <p class="m-2">Turn off</p>
                <label class="switch">
                    <input type="checkbox" onchange="this.form.submit()" />
                    <span class="slider round"></span>
                </label>
            </div>
            </form>
            <h2>Door</h2>

            <div class="d-flex justify-content-between">
                <p class="m-2">Open</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <h2>Floor</h2>

            <select class="mb-2" name="floor" style="width: 100%;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <a class="btn btn-primary" asp-route-id="@Model.elevator.Id" asp-page="/Cases/CreateCasePage">New Case</a>
        </div>
    </div>
    <div class="flex-row">
        <h1>Details</h1>

        <h2>Address</h2>
        <p>@Model.elevator.Address</p>

        <h2>Last inspected</h2>
        <p>@Model.elevator.LastInspection.Year-@Model.elevator.LastInspection.Month-@Model.elevator.LastInspection.Day</p>

        <h2>Next inspection</h2>
        <p>@Model.elevator.NextInspection.Year-@Model.elevator.NextInspection.Month-@Model.elevator.NextInspection.Day</p>

        <h2>Maximum weight</h2>
        <p>@Model.elevator.MaximumWeight Kg</p>
    </div>
</div>